<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
	<typeAliases>
		<package name="com.example.demo.entity" />
	</typeAliases>
	<mappers>
		<mapper resource="xml/com/example/demo/mappers/SubcontractorMapper.xml" />
		<mapper resource="xml/com/example/demo/mappers/ServiceProviderMapper.xml" />
		<mapper resource="xml/com/example/demo/mappers/StatusMapper.xml" />
		<mapper resource="xml/com/example/demo/mappers/UUserMapper.xml" />
		<mapper resource="xml/com/example/demo/mappers/RefreshTokenMapper.xml" />
		<mapper resource="xml/com/example/demo/mappers/GstLogMapper.xml" />
		<mapper resource="xml/com/example/demo/mappers/SendMailMapper.xml" />
		<mapper resource="xml/com/example/demo/mappers/MessageModelMapper.xml" />
		<mapper resource="xml/com/example/demo/mappers/ContractMapper.xml" />
	</mappers>
</configuration>