<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mappers.ContractMapper">

    <resultMap id="contractMap" type="com.example.demo.entity.Contract">
        <result property="cId" column="c_id" />
        <result property="cContractNumber" column="c_contract_number" />
    </resultMap>
    
    <select id="getContractByContractId" resultMap="contractMap" parameterType="java.lang.Integer">
        SELECT *
        FROM gst_contract
        WHERE c_id =  #{contractId}
    </select>
    
    <update id="updateContractByContractId" statementType="PREPARED" parameterType="com.example.demo.entity.Contract">
        UPDATE gst_contract
        SET c_contract_number = #{cContractNumber},
        	c_fk_subcontractor_id = #{cFkSubcontractorId},
        	c_fk_service_provider_id = #{cFKserviceProviderId}
        WHERE c_id =  #{cId}
    </update>

    <select id="getContractsByServiceProviderId" resultMap="contractMap" parameterType="java.lang.Integer">
        SELECT DISTINCT gc.c_id, gc.c_contract_number, gc.c_fk_subcontractor_id, gc.c_fk_service_provider_id
        FROM gst_contract gc
                 INNER JOIN gst_service_provider gsp ON gc.c_fk_service_provider_id = gsp.sp_id
                 INNER JOIN gst_model_tracking gmt ON gmt.mt_fk_contract_id = gc.c_id
                 INNER JOIN gst_subcontractor gsc ON gsc.s_id = gc.c_fk_subcontractor_id
        WHERE gc.c_fk_service_provider_id =  #{serviceProviderId}
    </select>

    <select id="getContractsBySubcontractorId" resultMap="contractMap" parameterType="java.lang.Integer">
        SELECT DISTINCT gc.c_id, gc.c_contract_number, gc.c_fk_subcontractor_id, gc.c_fk_service_provider_id
        FROM gst_contract gc
                 INNER JOIN gst_service_provider gsp ON gc.c_fk_service_provider_id = gsp.sp_id
                 INNER JOIN gst_model_tracking gmt ON gmt.mt_fk_contract_id = gc.c_id
                 INNER JOIN gst_subcontractor gsc ON gsc.s_id = gc.c_fk_subcontractor_id
        WHERE gc.c_fk_subcontractor_id =  #{subContractorId}
    </select>

    <insert id="insertContract" parameterType="com.example.demo.entity.Contract" useGeneratedKeys="true" keyProperty="cId" keyColumn="c_id">
        INSERT INTO gst_contract (c_contract_number, c_fk_subcontractor_id, c_fk_service_provider_id)
        VALUES (#{cContractNumber}, #{cFkSubcontractorId}, #{cFKserviceProviderId})
    </insert>


</mapper>
