<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ModelTrackingMapper.xml -->
<mapper namespace="com.example.demo.mappers.ModelTrackingMapper">
	
	<resultMap type="com.example.demo.entity.ModelTracking" id="modelTrackingResultMap">
		<result property="mtId" column="mt_id" />
		<result property="mtFkContractId" column="mt_fk_contract_id" />
		<result property="mtFkMessageModelId" column="mt_fk_message_model_id" />
		<result property="mtFkStatusId" column="mt_fk_status_id" />
		<result property="mtFkCategoryId" column="mt_fk_category_id" />
		<result property="mtSendDate" column="mt_send_date" />
		<result property="mtValidationDate" column="mt_validation_date" />
        <association property="messageModel" javaType="com.example.demo.entity.MessageModel">
            <id property="mmId" column="mm_id"/>
            <result property="mmLink" column="mm_link"/>
            <result property="mmSubject" column="mm_subject"/>
			<result property="mmBody" column="mm_body" />
			<result property="mmHasEmail" column="mm_has_email" />
			<result property="mmIsRelaunch" column="mm_is_relaunch" />
			<result property="mmCreationDate" column="mm_creation_date" />
			<result property="mmLastUpdateDate" column="mm_last_update_date" />
        </association>
        <association property="contract" javaType="com.example.demo.entity.Contract">
            <id property="cId" column="c_id"/>
            <result property="cContractNumber" column="c_contract_number" />
            <result property="cFKserviceProviderId" column="c_fk_service_provider_id"/>
            <result property="cFkSubcontractorId" column="c_fk_subcontractor_id"/>
        </association>     
	</resultMap>
	
	<sql id="messageModelBySubcontractorAndServiceProviderTables">
		    gst_model_tracking mt
			LEFT JOIN gst_contract ct ON mt.mt_fk_contract_id = ct.c_id
			LEFT JOIN gst_message_model mm ON mt.mt_fk_message_model_id = mm.mm_id
			LEFT JOIN gst_service_provider sp ON ct.c_fk_service_provider_id = sp.sp_id
			LEFT JOIN gst_subcontractor sc ON ct.c_fk_subcontractor_id = sc.s_id
			LEFT JOIN gst_category cy ON mt.mt_fk_category_id = cy.cat_id
	</sql>
	
	<sql id="messageModelTrackingColumns">
			mt.*,
			mm.*,
			ct.*

	</sql> 
	
	

    <insert id="insertGstModelTracking" statementType="PREPARED" useGeneratedKeys="true" keyProperty="mtId" keyColumn="mt_id" parameterType="com.example.demo.entity.ModelTracking">
        INSERT INTO schema_dev.gst_model_tracking (
            mt_send_date, mt_validation_date, mt_fk_contract_id, mt_fk_message_model_id, mt_fk_status_id, mt_fk_category_id
        )
        VALUES (
            #{mtSendDate}, #{mtValidationDate}, #{mtFkContractId}, #{mtFkMessageModelId}, #{mtFkStatusId}, #{mtFkCategoryId}
        )
    </insert>
 
    <update id="updateModelTracking" >
        UPDATE schema_dev.gst_model_tracking
        SET mt_send_date = #{mtSendDate},
            mt_validation_date = #{mtValidationDate},
            mt_fk_contract_id = #{mtFkContractId},
            mt_fk_message_model_id = #{mtFkMessageModelId},
            mt_fk_status_id = #{mtFkStatusId},
            mt_fk_category_id = #{mtFkCategoryId}
        WHERE mt_fk_contract_id = #{mtFkContractId}
          AND mt_fk_message_model_id = #{mtFkMessageModelId}
    </update>
 
    <select id="getAllMessageModelByServiceProviderId" resultMap="modelTrackingResultMap">
        SELECT	*
		FROM <include refid="messageModelBySubcontractorAndServiceProviderTables"/>
		WHERE ct.c_fk_service_provider_id = #{serviceProviderId}
		AND mt.mt_fk_category_id = '1'
		ORDER BY mt.mt_id ASC;
    </select>
    
    <select id="getAllMessageModelBySubcontractorId" resultMap="modelTrackingResultMap">
		SELECT *
		FROM <include refid="messageModelBySubcontractorAndServiceProviderTables"/>
		WHERE ct.c_fk_subcontractor_id = #{subcontractorId}
		AND mt.mt_fk_category_id != '1'
		ORDER BY mt.mt_id ASC;
    </select>
      
    <select id="findAllModelTrackingInfo" resultType="com.example.demo.dto.ModelTrackingDTO">
        SELECT *
        FROM schema_dev.gst_model_tracking
    </select>
 
    <select id="getModelTrackingInfoByContractId" resultType="com.example.demo.dto.ModelTrackingDTO" parameterType="int">
        SELECT *
        FROM schema_dev.gst_model_tracking
        WHERE mt_fk_contract_id = #{contractId}
    </select>
 
    <select id="findModelTrackingInfoByMmId" resultType="com.example.demo.dto.ModelTrackingDTO" parameterType="int">
        SELECT *
        FROM schema_dev.gst_model_tracking
        WHERE mt_fk_message_model_id = #{mmId}
    </select>
 
    <select id="findModelTrackingInfoByContractIdAndMmId" resultType="com.example.demo.dto.ModelTrackingDTO" parameterType="int">
        SELECT *
        FROM schema_dev.gst_model_tracking
        WHERE mt_fk_contract_id = #{contractId}
          AND mt_fk_message_model_id = #{mmId}
    </select>
	
	<update id="updateSubcontractorStatus" parameterType="map">
	  <![CDATA[
	  UPDATE gst_subcontractor
	  SET s_fk_status_id = 
	    CASE
	      WHEN EXISTS (
	        SELECT 1
	        FROM gst_model_tracking mt
	        INNER JOIN gst_contract contract ON mt.mt_fk_contract_id = contract.c_id
	        WHERE contract.c_fk_subcontractor_id = #{subcontractorId}
	          AND mt.mt_fk_status_id = 1
	      ) THEN 1
	      WHEN EXISTS (
	        SELECT 1
	        FROM gst_model_tracking mt
	        INNER JOIN gst_contract contract ON mt.mt_fk_contract_id = contract.c_id
	        WHERE contract.c_fk_subcontractor_id = #{subcontractorId}
	          AND mt.mt_fk_status_id = 2
	      ) AND NOT EXISTS (
	        SELECT 1
	        FROM gst_model_tracking mt
	        INNER JOIN gst_contract contract ON mt.mt_fk_contract_id = contract.c_id
	        WHERE contract.c_fk_subcontractor_id = #{subcontractorId}
	          AND mt.mt_fk_status_id = 1
	      ) THEN 2
	      WHEN NOT EXISTS (
	        SELECT 1
	        FROM gst_model_tracking mt
	        INNER JOIN gst_contract contract ON mt.mt_fk_contract_id = contract.c_id
	        WHERE contract.c_fk_subcontractor_id = #{subcontractorId}
	          AND mt.mt_fk_status_id <> 3
	      ) THEN 3
	      ELSE s_fk_status_id
	    END
	  WHERE s_id = #{subcontractorId}
	  ]]>
	</update>
	
	<update id="updateServiceProvider" parameterType="map">
	  <![CDATA[
	  UPDATE gst_service_provider
	  SET sp_fk_status_id = 
	    CASE
	      WHEN EXISTS (
	        SELECT 1
	        FROM gst_model_tracking mt
	        INNER JOIN gst_contract contract ON mt.mt_fk_contract_id = contract.c_id
	        WHERE contract.c_fk_service_provider_id = #{serviceProviderId}
	          AND mt.mt_fk_status_id = 1
	      ) THEN 1
	      WHEN EXISTS (
	        SELECT 1
	        FROM gst_model_tracking mt
	        INNER JOIN gst_contract contract ON mt.mt_fk_contract_id = contract.c_id
	        WHERE contract.c_fk_service_provider_id = #{serviceProviderId}
	          AND mt.mt_fk_status_id = 2
	      ) AND NOT EXISTS (
	        SELECT 1
	        FROM gst_model_tracking mt
	        INNER JOIN gst_contract contract ON mt.mt_fk_contract_id = contract.c_id
	        WHERE contract.c_fk_service_provider_id = #{serviceProviderId}
	          AND mt.mt_fk_status_id = 1
	      ) THEN 2
	      WHEN NOT EXISTS (
	        SELECT 1
	        FROM gst_model_tracking mt
	        INNER JOIN gst_contract contract ON mt.mt_fk_contract_id = contract.c_id
	        WHERE contract.c_fk_service_provider_id = #{serviceProviderId}
	          AND mt.mt_fk_status_id <> 3
	      ) THEN 3
	      ELSE sp_fk_status_id
	    END
	  WHERE sp_id = #{serviceProviderId}
	  ]]>
	</update>

</mapper>